:root {
    --background: var(--ion-color-primary);
    --ion-background-color: var(--background);
    --ion-tab-bar-background: var(--ion-color-primary-shade);
    --ion-tab-bar-color: var(--ion-color-secondary);
    --ion-tab-bar-color-selected: var(--ion-color-secondary-shade);
    --ion-text-color: var(--ion-color-primary-contrast);
    --ion-color-heart: #d5595a;
}

ion-nav-link {
    width: max-content;
}

ion-item.ion-color-secondary ion-input * {
    color: var(--ion-color-primary) !important;
}

ion-item.ion-color-secondary ion-input input {
    color: var(--ion-color-primary) !important;
    opacity: .5;
}

ion-item.ion-color-secondary ion-input input::placeholder {
    color: var(--ion-color-medium) !important;
}

ion-item, ion-list {
    --background: var(--ion-color-primary-shade);
    --ion-item-border-color: var(--ion-color-primary-tint)
}

ion-tab-button.tab-selected {
    border-top-color: var(--ion-tab-bar-color-selected);
}

body {
    background-color: var(--background) !important;
}

ion-label p {
    font-weight: 400 !important;
    opacity: 0.5;
    color: var(--ion-text-color) !important;
}

ion-chip .icon {
    margin-inline-end: 5px;
}

.large-chip {
    font-size: 1.2em;
    padding: 8px 10px;
}

.chip-square {
    height: max-content;
}

.ion-color-light a {
    color: var(--ion-color-secondary);
}

.ion-display-flex::part(scroll) {
    display: flex;
    justify-content: center;
    align-items: center;
}

.focusable {
    cursor: pointer;
}

.ion-text-wrap.max-width {
    min-width: max-content;
}

.hidden {
    display: none;
}

ion-item:not(+ ion-item)::part(native) {
    border-radius: 12px;
}

ion-button[expand=full] {
    margin-inline-start: 16px;
    margin-inline-end: 16px;
}

ion-button[expand=full]::part(native) {
    border-radius: 7px;
}

router-link, a {
    text-decoration: none;
}

ion-list ion-item:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

ion-list.no-radius ion-item:first-child {
    border-radius: 0;
}

ion-list ion-item:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

ion-checkbox {
    --checkbox-background: #fff;
}

ion-label.ion-color-light, ion-note.ion-color-light {
    color: var(--ion-color-light) !important;
}

.icon.ion-color-light, .icon-ion-color-light {
    color: var(--ion-color-light);
    stroke: var(--ion-color-light);
}

ion-label ion-progress-bar {
    margin-top: 8px;
}

.list-title * {
    margin: 0;
}

.list-title {
    font-size: 1rem;
    font-weight: 400;

    margin: auto 30px;
    opacity: 0.5;

    margin-bottom: -7px;
    margin-top: 12px;
}

.list-title.button {
    border-radius: 5px;
    padding: 5px 10px;
    margin: 7px 20px -12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: .1s ease-in-out;
}

.list-title.button:active {
    background-color: var(--ion-color-primary-tint);
    scale: 0.95;
}

.loading-content {
    color: #000
}

ion-spinner.small {
    width: 14px;
    height: 14px
}

.ion-color-warning :not(.toast-header, .toast-message) {
    color: var(--ion-color-warning);
}

.ion-color-success :not(.toast-header, .toast-message) {
    color: var(--ion-color-success);
}

.ion-color-primary :not(.toast-header, .toast-message) {
    color: var(--ion-color-primary);
}

.ion-color-secondary :not(.toast-header, .toast-message) {
    color: var(--ion-color-secondary);
}

.ion-color-tertiary :not(.toast-header, .toast-message) {
    color: var(--ion-color-tertiary);
}

.ion-color-danger :not(.toast-header, .toast-message) {
    color: var(--ion-color-danger);
}

.ion-color-medium :not(.toast-header, .toast-message) {
    color: var(--ion-color-medium);
}

input {
    caret-color: var(--ion-color-primary) !important;
}

.ion-color-secondary::part(native) {
    --background: linear-gradient(90deg, #e8d384, var(--ion-color-secondary));
    background: var(--background);
}

.ion-color-secondary.gradient-button ion-label, .ion-color-secondary.gradient-button ion-label *, .ion-color-secondary.gradient-button .icon * {
    --color: var(--ion-color-primary);
    color: var(--color) !important;
}

.ion-color-secondary.gradient-button:hover ion-label, .ion-color-secondary.gradient-button:hover ion-label *, .ion-color-secondary.gradient-button:hover .icon * {
    --color: var(--ion-color-primary-shade);
    color: var(--color) !important;
}

.ion-color-secondary:hover::part(native), .ion-color-secondary:hover::part(native)::after {
    --background: linear-gradient(90deg, #c7b571, var(--ion-color-secondary-shade));
    background: var(--background);
}

.ion-border {
    border-width: 0.55px;
    border-color: var(--ion-item-border-color, var(--ion-border-color, var(--ion-color-step-250, #c8c7cc)));
    border-style: solid;
}

.ion-content-padding {
    --padding-start: 1.5em;
    --padding-end: 1.5em;
}

.ion-toggle-border::part(track) {
    border-width: 0.55px;
    border-color: var(--ion-item-border-color, var(--ion-border-color, var(--ion-color-step-250, #c8c7cc)));
    border-style: solid;
}

.icon {
    margin-inline-end: 15px;
}

.card-picture {
    height: 275px !important;
    border-radius: 18px;
}

@media (min-width: 1024px) {
    .ion-page ion-content:nth-child(2) {
        width: 1024px;
        transform: translate(-50%);
        left: 50%;
    }
    ion-modal ion-content {
        width: auto !important;
    }
}

ion-toolbar {
    --padding-start: .5em;
    --padding-end: .4em;
    height: 3.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ion-toolbar ion-label p {
    font-size: .8em !important;
}

.profile-picture {
    object-fit: cover;
    width: 6em;
    height: 6em;
    border-radius: 50%;
}

.profile-picture.small {
    width: 2em;
    height: 2em;
}

.top-background {
    height: 5em;
    width: 100%;
    background-color: var(--ion-color-secondary-shade);
    position: absolute;
    z-index: -1;
}

.top-background.purple {
    background-color: var(--ion-color-success-shade);
}


.top-background.red {
    background-color: var(--ion-color-heart);
}

.floating {
    width: 90%;
    background-color: var(--ion-color-primary-shade);
    border-radius: 12px;
    margin: 2em auto auto;
    padding: .8em 1.2em 2em;
}

.floating p {
    color: var(--ion-color-medium);
    margin: 0;
}

.floating  h3 {
    margin: 0;
}

.floating .footer {
    min-width: max-content;
    right: 8%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.horizontal-carousel {
    padding-left: 5%;
    width: 95%;
    min-width: 95%;
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    gap: 20px;
    overflow-x: scroll;
    overflow-y: hidden;
    padding-bottom: 1em;
    padding-top: .2em;
}

.card {
    background-color: var(--ion-color-primary-shade);
    border-radius: 12px;
    width: 15em;
    min-width: 15em;
    height: 10em;
    text-align: center;
}

.card.full {
    width: 100%;
}

.card.expanded {
    margin-bottom: 1em;
}

.card.expanded, .card.expanded header {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.card.small {
    width: 10em;
    min-width: 10em;
    margin-bottom: 1em;
}

.card-only {
    width: 7.5em;
    height: 5em;
    padding: .8em 1.2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card header {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    padding-top: .4em;
    height: 30%;
    background-color: var(--ion-color-secondary);
}

.card.small header {
    padding-top: .25em
}

.card.unique header {
    background-color: #5749a9;
}

.card.news header {
    background-color: #1f388f;
}

ion-chip.unique {
    --ion-color-secondary: #5749a9;
    --ion-color-secondary-tint: #6251c4;
    --ion-color-secondary-shade: #6455bd;
    --ion-color-secondary-contrast: #fff;
    --background: rgba(87, 73, 169, 0.16);
    background: var(--background)
}

.card.green header {
    background-color: var(--ion-color-success);
}

.card.heart header {
    background-color: var(--ion-color-heart);
}

ion-chip.green {
    --ion-color-secondary: var(--ion-color-success);
    --ion-color-secondary-tint: var(--ion-color-success-tint);
    --ion-color-secondary-shade: var(--ion-color-success-shade);
    --ion-color-secondary-contrast: var(--ion-color-success-contrast);
    --background: rgba(65, 197, 103, 0.16);
    background: var(--background)
}

.card header img {
    padding: .2em;
    height: 5em;
    width: 90%;
    border-radius: 7px;
    background-color: var(--ion-color-primary);
    object-fit: cover;
}

.card.small header img {
    border-radius: 10px;
    padding: .1em;
    width: 95%;
}

.card .content {
    text-align: left;
    padding-left: 1.2em;
    padding-right: 1.2em;
    padding-bottom: 1em;
    height: calc(70% - 1em);
}

.card.small .content {
    padding-left: .8em;
    padding-right: .8em;
}

.card .content h3 {
    margin-top: 1.8em !important;
    font-size: 20px;
    text-shadow: 0 0 4px #222;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.card.small .content h3 {
    font-size: 18px;
    line-height: 1em;
    height: 3em;
    margin-top: 2.4em !important;
    overflow: hidden;
    white-space: normal;
}

.card .content p {
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1em;
    max-height: 3em;
    color: var(--ion-color-medium);
    font-size: 14px;
}

.card.small .content p {
    display: none;
}

.card .content h3, .card .content p {
    margin: 0;
}

.grid-results {
    width: 98%;
    min-width: 98%;
    margin: 1em auto auto;
    display: grid;
    padding-bottom: 1em;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

.big-list {
    margin: 1em auto auto;
    padding-bottom: 1em;
    width: 95%;
}

.action-item {
    display: flex;
}

.action-item .action {
    width: 100%;
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.action-item .action {
    padding-top: 2.5em;
    border-left: .55px solid rgba(134, 136, 143, 0.21);
    background: linear-gradient(var(--ion-color-success) 30%, var(--ion-color-primary-shade) 7%);
}

.action-item .action:hover, .action-item .action:focus, .action-item .action:active {
    background: linear-gradient(var(--ion-color-success-shade) 30%, var(--ion-color-primary) 7%);
}

.action-item .action:last-child {
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

.bubble-icon {
    padding: .35em;
    width: 32px;
    height: 32px;
    background-color: rgba(59, 161, 88, 0.7);
    clip-path: path("M16 1C4 1 1 4 1 16C1 28 4 31 16 31C28 31 31 28 31 16C31 4 28 1 16 1Z");
}

.action-item .action p {
    color: var(--ion-color-medium);
    margin-top: .2em;
}

ion-list ion-nav-link ion-item:last-child {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    --inner-border-width: 0px 0px 0.55px 0px !important;
}

ion-list ion-nav-link:first-child:last-child ion-item:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    --inner-border-width: 0 0 0 0 !important;
}

ion-list ion-nav-link:not(:first-child):last-child ion-item:last-child {
    border-radius: 0 0 10px 10px;
    --inner-border-width: 0 0 0 0 !important;
}
